
@main("О компании BitBank24.com") {

    <link rel="stylesheet" href="@routes.Assets.versioned("/stylesheets/contacts.css")">

    <div class="container">
        <div class="container__info">

            <div class="container__info-title">
                О компании
            </div>

            <div class="subHeader">Каждый день мы работаем для того, чтобы предоставить нашим клиентам лучший сервис</div>

            <div class="infoContainer__item">
                <div class="infoContainer__itemCheck">
                    <svg class="t508__checkmark" style="" fill="#45BA84" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31.8 31.8"><path d="M.9 14.5C5.2 19.4 9.8 24 14.1 29c.4.5 1.3.3 1.6-.2 5.1-8.4 10.1-16.8 15-25.4.7-1.2-.5-2.1-1.3-.9C19.3 18 19 18.4 13.9 26.7c.5-.1 1.1-.1 1.6-.2-4.4-4.8-8.9-8.6-13.9-12.8-.4-.4-1.1.3-.7.8z"></path></svg>
                </div>

                <div>
                    <div class="infoContainer__itemHeader">
                        Высокое качество
                    </div>
                    <div class="infoContainer__itemText">
                        Мы занимаем лидирующую позицию на рынке по производству решений для работы с криптовалютой. Все наши сотрудники - профессионалы с более чем 5 летним стажем в отрасли. Мы любим свое дело.
                    </div>
                </div>
            </div>

            <div class="infoContainer__item">
                <div class="infoContainer__itemCheck">
                    <svg class="t508__checkmark" style="" fill="#45BA84" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31.8 31.8"><path d="M.9 14.5C5.2 19.4 9.8 24 14.1 29c.4.5 1.3.3 1.6-.2 5.1-8.4 10.1-16.8 15-25.4.7-1.2-.5-2.1-1.3-.9C19.3 18 19 18.4 13.9 26.7c.5-.1 1.1-.1 1.6-.2-4.4-4.8-8.9-8.6-13.9-12.8-.4-.4-1.1.3-.7.8z"></path></svg>
                </div>

                <div>
                    <div class="infoContainer__itemHeader">
                        Хорошая поддержка
                    </div>
                    <div class="infoContainer__itemText">
                        Наши менеджеры всегда готовы прийти Вам на помощь. Вы можете связаться с нами в любое время суток.
                    </div>
                </div>
            </div>

            <div class="infoContainer__item">
                <div class="infoContainer__itemCheck">
                    <svg class="t508__checkmark" style="" fill="#45BA84" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31.8 31.8"><path d="M.9 14.5C5.2 19.4 9.8 24 14.1 29c.4.5 1.3.3 1.6-.2 5.1-8.4 10.1-16.8 15-25.4.7-1.2-.5-2.1-1.3-.9C19.3 18 19 18.4 13.9 26.7c.5-.1 1.1-.1 1.6-.2-4.4-4.8-8.9-8.6-13.9-12.8-.4-.4-1.1.3-.7.8z"></path></svg>
                </div>

                <div>
                    <div class="infoContainer__itemHeader">
                        Индивидуальный подход
                    </div>
                    <div class="infoContainer__itemText">
                        Наша компания работает в соответствии с принципом индивидуального подхода к каждому клиенту. Этот метод позволяет нам добиться успеха при решении любой задачи.
                    </div>
                </div>
            </div>

        </div>
    </div>

}
