@(remainingTime: Long, fsOrder: FsOrder,
        address: String,
        transactions: List[bcJsonRpc.pojo.Transaction],
        sum: java.math.BigDecimal,
        unconfirmed: java.math.BigDecimal,
        confirmed: java.math.BigDecimal
)

@main("Оплата Заказа №" + fsOrder.getId) {
    <div class="container">

        <div class="container__info">

            @if(fsOrder.getPaymentStatus == PaymentStatus.CONFIRMED) {
                <div class="container__info-title">Заказ №@fsOrder.getId
                    <span class="container__info-status container__info-status_paid">@fsOrder.getPaymentStatus.getDescription.toLowerCase()</span>
                </div>
                <div class="container__price"><span class="container__price-label">Стоимость заказа:</span><span class="container__price-number">@fsOrder.getSumInRubles руб.</span></div>
                <div class="container__price"><span class="container__price-label">Заказ оплачен</span></div>
                <div class="container__paid">Оплачено: <span class="container__price-number">@utils.Formatter.formatToBtcDown(confirmed) BTC</span></div>
            } else {
                <div class="container__info-title">Заказ №@fsOrder.getId
                    <span class="container__info-status container__info-status_wait">@fsOrder.getPaymentStatus.getDescription.toLowerCase()</span>
                </div>
                <div class="container__price"><span class="container__price-label">Стоимость заказа:</span><span class="container__price-number">@fsOrder.getSumInRubles руб.</span></div>
                <div class="container__price"><span class="container__price-label">Сумма для оплаты:</span><span class="container__price-number">@utils.Formatter.formatToBtcUp(sum) BTC</span></div>
                <div class="container__paid">Оплачено: <span class="container__price-number">@utils.Formatter.formatToBtcDown(unconfirmed) BTC</span></div>
                <div class="container__paid">Подтверждено: <span class="container__price-number">@utils.Formatter.formatToBtcDown(confirmed) BTC</span></div>
                @if(fsOrder.getPaymentStatus == PaymentStatus.CREATED) {
                    <div class="container__course">
                        <img src="@routes.Assets.versioned("/img/Bitcoin_logo.png")" alt="" class="container__course-logo">
                        <div class="container__course-info">Курс конвертации @utils.Formatter.ratePresentation(fsOrder.getRate) руб/BTC. <span id="remainingTime">Действителен до @utils.Formatter.format(fsOrder.getRateFixTime.plus(15, java.time.temporal.ChronoUnit.MINUTES))</span></div>
                    </div>
                }
            }
        </div>

        @if(fsOrder.getPaymentStatus == PaymentStatus.CREATED) {
            <div class="bitcoin-address container__key "
            data-bc-amount="@sum"
            data-bc-message="Фотосклад. Оплата заказа @fsOrder.getId"
            data-bc-label="Заказ @fsOrder.getId"
            data-bc-address="@address">@address</div>
        }
        </div>

    <div id="bitcoin-address-template" class="container__bottom bitcoin-address-container" style="display: none">

        <div class="container__key bitcoin-address">@address</div>

        <div class="container__flex">
            <a href="#" class="container__btn bitcoin-address-action bitcoin-address-action-send">Оплатить приложением</a>
            <a href="#" class="container__btn bitcoin-address-action bitcoin-address-action-copy">Копировать адрес</a>
            <a href="#" class="container__btn bitcoin-address-action bitcoin-address-action-qr">QR код</a>
        </div>

        <div class="bitcoin-action-hint bitcoin-action-hint-send" style="display: none">
            Оплатить с помощью локально установленного приложения.
        </div>

        <div class="bitcoin-action-hint bitcoin-action-hint-copy" style="display: none">
            Нажмите CTRL + C or &#x2318; + C для того чтобы скопировать Bitcoin адрес.
        </div>

        <div class="bitcoin-action-hint bitcoin-action-hint-qr" style="display: none">
            <p>
                Отсканируйте QR код с помощью приложения для оплаты
            </p>

            <div class="bitcoin-address-qr-container text-center">
                    <!-- Filled in by JS on action click -->
            </div>
        </div>

    </div>

    <script src="@routes.Assets.versioned("javascripts/bitcoinaddress-bundle.js")"></script>
    <script type="text/javascript">var remainingTime = @remainingTime;</script>
    <script>
            $(document).ready(function() {
                bitcoinaddress.init({

                    // jQuery selector defining bitcon addresses on the page
                    // needing the boost
                    selector: ".bitcoin-address",

                    // Id of the DOM template element we use to decorate the addresses.
                    // This must contain placefolder .bitcoin-address
                    template: "bitcoin-address-template",

                    // Passed directly to QRCode.js
                    // https://github.com/davidshimjs/qrcodejs
                    qr : {
                        width: 128,
                        height: 128,
                        colorDark : "#45ba84",
                        colorLight : "#f1f1f1"
                    },

                    // By default the generated QR code is bitcoin:// URL.
                    // However you might want to change this for altcoins, which do not have
                    // official protocol handlers. Set true to remove bitcoin:// from
                    // QR code.
                    qrRawAddress: true
                });
            });
    </script>
}
