@(settings:Settings, usdRate: java.math.BigDecimal,
        effectiveUsdRate: java.math.BigDecimal,
        poloniexRate: java.math.BigDecimal,
        finalRate: java.math.BigDecimal)

@bootstraped("") {
    <div class="container">
        <h1>Настройки</h1>

        <div class="container">
            <form id="form" method="PUT">
                @helper.CSRF.formField

                <div class="row">
                    <label>Дополнительная комиссия к курсу Обмена BTC-rub</label>
                    <div class="input-group col-md-3">
                        <span class="input-group-addon">комиссия</span>
                        <input type="text" id="commission" name="commission" value="@settings.getCommission" class="form-control" aria-label="" required>
                        <span class="input-group-addon">%</span>
                    </div>
                </div>

                <div class="row">
                    <label>Дополнительная комиссия к курсу RUB-USD</label>
                    <div class="input-group col-md-3">
                        <span class="input-group-addon">комиссия</span>
                        <input type="text" id="commission" name="rubUsdCommission" value="@settings.getRubUsdCommission" class="form-control" aria-label="" required>
                        <span class="input-group-addon">%</span>
                    </div>
                </div>

                <br/>

                <div class="row">
                    <div class="col-md-3">
                        <button id="submit-btn" type="submit" class="btn btn-success">сохранить</button>
                    </div>
                </div>
            </form>
        </div>
        <h4>Курсы на текущий момент</h4>
        <ul>
            <li>курс доллара ЦБ @utils.Formatter.ratePresentation(usdRate)</li>
            <li>эффективный курс доллара @utils.Formatter.ratePresentation(effectiveUsdRate)</li>
            <li>курс poloniex @utils.Formatter.ratePresentation(poloniexRate)</li>
            <li>курс обмена @utils.Formatter.ratePresentation(finalRate)</li>
        </ul>
    </div>
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/settings.js")"></script>
}